.ait-components {
	&__alert {
		padding: 8px 20px;
		border-radius: 4px;
		position: relative;
		@media (min-width: 992px) {
			padding: 16px 20px;
		}
		&__close {
			display: inline-block;
			cursor: pointer;
			width: 20px;
			height: 20px;
			position: absolute;
			right: 16px;
			top: 16px;
			background-size: 14px;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.93996 4.99998L8.80663 2.13998C9.06804 1.87857 9.06804 1.45473 8.80663 1.19331C8.54521 0.9319 8.12137 0.9319 7.85996 1.19331L4.99996 4.05998L2.13996 1.19331C1.87854 0.9319 1.45471 0.9319 1.19329 1.19331C0.931878 1.45473 0.931878 1.87857 1.19329 2.13998L4.05996 4.99998L1.19329 7.85998C1.06708 7.98516 0.996094 8.15556 0.996094 8.33331C0.996094 8.51107 1.06708 8.68147 1.19329 8.80665C1.31847 8.93286 1.48887 9.00385 1.66663 9.00385C1.84438 9.00385 2.01478 8.93286 2.13996 8.80665L4.99996 5.93998L7.85996 8.80665C7.98514 8.93286 8.15553 9.00385 8.33329 9.00385C8.51105 9.00385 8.68145 8.93286 8.80663 8.80665C8.93283 8.68147 9.00383 8.51107 9.00383 8.33331C9.00383 8.15556 8.93283 7.98516 8.80663 7.85998L5.93996 4.99998Z' fill='%23fff'/%3e%3c/svg%3e ");
		}
		strong {
			display: block;
			margin-bottom: 7px;
			font-size: 18px;
			line-height: 24px;
		}
		p {
			font-size: 16px;
			line-height: 19px;
			color: #fff;
			margin: 0;
		}
		&.success {
			background-color:  #0edd97;
			strong {
				color: #fff;
			}
		}
	}
}