.ait-component__banner {
	&__carousel {
		background-color: #303BFE;
	}
	picture {
		display: flex;
		align-items: center;
		position: relative;
		max-height: 604px;
		overflow: hidden;
	}
	img {
		width: 100%;
	}
	.slick-next, .slick-prev {
		z-index: 5;
		&:before {
	    content:'';
	    display: block;
	    width: 14px;
			height: 34px;
	    color: rgb(14,22,0);
	    opacity: 1;
	    background-position: center;
	    background-size: 14px 34px;
		}
	}
	.slick-next {
		&:before {
	    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='17.208' height='38.217' viewBox='0 0 17.208 38.217'%3e%3cpath id='Caminho_80' data-name='Caminho 80' d='M24.75,6.75l13.6,17-13.6,17' transform='translate(-22.642 -4.642)' fill='none' stroke='%230e1628' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3e%3c/svg%3e ");
		}
		right: 50px;
	}
	.slick-prev {
		&:before {
	    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='17.208' height='38.217' viewBox='0 0 17.208 38.217'%3e%3cpath id='Caminho_85' data-name='Caminho 85' d='M0,0,13.6,17,0,34' transform='translate(15.1 36.108) rotate(180)' fill='none' stroke='%230e1628' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3e%3c/svg%3e ");
		}
		left: 50px;
	}
	.slick-dots {
    position: absolute;
    bottom: 35px;
    li {
    	button {
    		&:before {
    			opacity: 1;
	    		font-size: 36px;
	    		color: rgb(14,22,40);
	    	}
    	}
    	&.slick-active {
	    	button {
	    		&:before {
	    			opacity: 1;
		    		color: #fff;
		    	}
	    	}
    	}
    }
	}
}