.ait-component {
  &__modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(120, 120, 120, 0.8);
    overflow-y: auto;
    z-index: 99999;
    @media (max-width: 767.98px) {
      padding: 0 16px;
    }
    &__close {
      position: absolute;
      display: inline-block;
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8799 8.99984L16.6132 3.27984C17.1361 2.75701 17.1361 1.90934 16.6132 1.38651C16.0904 0.863677 15.2427 0.863677 14.7199 1.38651L8.99992 7.11984L3.27992 1.38651C2.75709 0.863677 1.90941 0.863677 1.38659 1.38651C0.863756 1.90934 0.863756 2.75701 1.38659 3.27984L7.11992 8.99984L1.38659 14.7198C1.13417 14.9702 0.992188 15.311 0.992188 15.6665C0.992188 16.022 1.13417 16.3628 1.38659 16.6132C1.63694 16.8656 1.97774 17.0076 2.33325 17.0076C2.68877 17.0076 3.02956 16.8656 3.27992 16.6132L8.99992 10.8798L14.7199 16.6132C14.9703 16.8656 15.3111 17.0076 15.6666 17.0076C16.0221 17.0076 16.3629 16.8656 16.6132 16.6132C16.8657 16.3628 17.0076 16.022 17.0076 15.6665C17.0076 15.311 16.8657 14.9702 16.6132 14.7198L10.8799 8.99984Z' fill='%235C8FD6'/%3E%3C/svg%3E%0A");
      top: 24px;
      right: 22px;
      width: 16px;
      height: 20px;
      p {
        font-size: 16px;
        line-height: 23px;
        color: #617385;
      }
      @media (max-width: 991.98px) {
        width: 24px;
        height: 24px;
        top: -12px;
        right: -12px;
      }
    }
    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
    &__content {
      box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      position: relative;
      background: #fff;
      padding: 40px 20px 20px;
      width: 100%;
      max-width: 604px;
      @media (min-width: 768px) {
        padding: 40px;
      }
    }
    &__header {
      margin-bottom: 16px;
      strong {
        text-transform: uppercase;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.01em;
        color: #888888;
        display: block;
        font-weight: 400;
      }
    }
    &__body {
      max-width: 360px;
      margin: 0 auto;
      margin-bottom: 32px;
    }
    &__footer {
      
    }
    &.pe-login {
      .pe-component__modal__content {
        background-repeat: no-repeat;
        @media (min-width: 768px) {
          background-position: center left;
          background-size: 210px 100%;
          padding-left: 242px;
          background-image: url('../images/pe-image-login.png');
        }
        @media (max-width: 767.98px) {
          background-position: top left;
          background-size: 100% 112px;
          padding-top: 140px;
          background-image: url('../images/pe-image-login-mobile.png');
        }
      }
      .pe-component__modal__footer {
        text-align: right;
        margin-top: 48px;
        .pe-component__button.pe-modal-close {
          background: #BEBEBE;
          margin-right: 16px;
        }
      }
      .pe-component__form__ipt {
        a {
          display: table;
          position: absolute;
          right: 0;
          font-size: 16px;
          line-height: 28px;
          text-align: right;
          letter-spacing: 0.02em;
          color: #888888;
        }
      }
    }
    &.pe-inscricao {
      text-align: center;
      .pe-inscricao-icon {
        display: inline-block;
        position: absolute;
        top: -36px;
        left: calc(50% - 36px);
        width: 72px;
        height: 72px;
        background-size: 72px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='72' height='72' viewBox='0 0 72 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='36' cy='36' r='36' fill='%23C4C4C4'/%3e%3cpath d='M51.0981 25.2222C50.6756 24.7962 50.1005 24.5566 49.5006 24.5566C48.9006 24.5566 48.3255 24.7962 47.9031 25.2222L31.1406 42.0072L24.0981 34.9422C23.5072 34.3715 22.6568 34.1593 21.8671 34.3856C21.0774 34.6119 20.4685 35.2423 20.2696 36.0393C20.0708 36.8364 20.3122 37.679 20.9031 38.2497L29.5431 46.8897C29.9655 47.3156 30.5406 47.5552 31.1406 47.5552C31.7405 47.5552 32.3156 47.3156 32.7381 46.8897L51.0981 28.5297C51.5598 28.1037 51.8224 27.5041 51.8224 26.8759C51.8224 26.2477 51.5598 25.6481 51.0981 25.2222Z' fill='white'/%3e%3c/svg%3e ");
      }
      .pe-component__modal__content {
        padding-top: 70px;
      }
    }
    &.pe-acordo {
      .pe-acordo-scroll{
        max-height: 300px;
        overflow-y: auto;
        padding-left: 16px;
        ol {
          margin: 0;
          padding: 0;
          padding-left: 16px;
          li {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.02em;
            color: #888888;
            margin-bottom: 16px;
            font-weight: 300;
            &::marker {
              font-weight: 400;
            }
          }
        }
      }
      .pe-component__modal__body{
        max-width: 100%;
        margin-bottom: 0px;
      }
    }
  }
}