.ait-component {
	&__tab {
		&__nav {
			background-color: #F1F2F6;
			margin-bottom: 40px;
			@media (max-width: 767.98px) {
				margin-bottom: 20px;
			}
			ul {
				text-align: center;
				width: 100%;
				padding: 0;
				margin: 0 0 20px;
				@media (max-width: 767.98px) {
					margin: 0;
				}
				li {
					display: inline-block;
					padding: 14px 0;
					font-size: 13px;
					line-height: 18px;
					text-transform: uppercase;
					margin: 0 34px;
					color: #A6BCD2;
					cursor: pointer;
					user-select: none;
					font-weight: 700;
					transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
					@media (max-width: 767.98px) {
						margin: 0 4px;
					}
					&:hover {
						color: #303BFE;
					}
					&.active {
						color: #303BFE;
						border-bottom: 2px solid #303BFE;
					}
				}
			}
		}
		&__content {
			display: none;
			&.active {
				display: block;
			}
			p {
				&:last-child {
					margin-bottom: 0;
				}
				@media (max-width: 767.98px) {
					font-size: 12px;
					line-height: 14px;
				}
			}
		}
	}
}