.ait-component {
	&__tab {
		&__nav {
			background-color: #F1F2F6;
			margin-bottom: 40px;
			ul {
				text-align: center;
				width: 100%;
				padding: 0;
				margin: 0 0 20px;
				li {
					display: inline-block;
					padding: 14px 0;
					font-size: 13px;
					line-height: 18px;
					text-transform: uppercase;
					margin: 0 34px;
					color: #A6BCD2;
					cursor: pointer;
					user-select: none;
					font-weight: 600;
					&:hover {
						color: #303BFE;
					}
					&.active {
						color: #303BFE;
						border-bottom: 2px solid #303BFE;
					}
				}
			}
		}
		&__content {
			display: none;
			&.active {
				display: block;
			}
		}
	}
}