.ait-component {
	&__tag {
		text-transform: uppercase;
		font-weight: 700;
		display: block;
		font-size: 14px;
		line-height: 19px;
		letter-spacing: 0.48px;
		color: #303BFE;
		margin-bottom: 20px;
	}
}