.ait-structure {
	&__footer {
		background-color: #303BFE;
		padding: 40px 0;
		color: #fff;
		overflow: hidden;
		position: relative;
		&__logo {
			display: inline-block;
			margin-bottom: 36px;
			@media (max-width: 991.98px) {
				img {
					width: 145px;
				}
			}
		}		
		ul {
			margin: 0;
			padding: 0;
			display: block;
			@media (max-width: 767.98px) {
				text-align: left;
				display: block;
			}
			@media (min-width: 768px) {
				max-width: 440px;
				display: inline-block;
			}
			li {
				display: inline-block;
				color: #0E1628;
				margin-bottom: 11px;
				@media (max-width: 991.98px) {
					margin-bottom: 4px;
				}
				font-size: 16px;
				line-height: 22px;
				color: #fff;
				@media (max-width: 991.98px) {
					font-size: 12px;
					line-height: 14px;
				}
				a {
					font-size: 16px;
					line-height: 22px;
					color: #fff;
					display: inline-block;
					text-decoration: none!important;
					@media (max-width: 991.98px) {
						font-size: 12px;
						line-height: 14px;
					}
					@media (min-width: 768px) {
						br {
							display: none;
						}
					}
				}
				&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
					padding-left: 22px;
					background-repeat: no-repeat;
					background-position: top 7px left;
					background-size: 13px;
				}
				&:nth-child(1) {
					background-image: url('../images/icons/ait-svg-pin-white.svg');
				}
				&:nth-child(2) {
					background-image: url('../images/icons/ait-svg-phone-white.svg');
					margin-right: 40px;
				}
				&:nth-child(3) {
					background-image: url('../images/icons/ait-svg-whatsapp-white.svg');
				}
				&:nth-child(4) {
					background-image: url('../images/icons/ait-svg-mail-white.svg');
				}
				&:nth-child(5) {
					display: block;
					img {
						margin-right: 20px;
					}
					@media (max-width: 991.98px) {
						img {
							margin-right: 12px;
							width: 14px;
						}
					}
				}
			}
		}
		.col-md-6 {
			&:first-child {
				&.ait-utilities__text-align__center {
					@media (max-width: 767.98px) {
						text-align: left;
					}
				}
			}
			&:last-child {
				img {
					position: absolute;
					top: calc(50% - 361px);
					left: 0;
				}
				@media (max-width: 991.98px) {
					img {
				    top: calc(50% - 291px);
				    left: -20px;
				  }
				}
				@media (max-width: 767.98px) {
					position: static;
					img {
						top: calc(50% - 251px);
						left: auto;
						right: -190px;
					}
				}
			}
		}
	}
}