.ait-structure {
	&__header {
		height: 96px;
    background-color: #fff;
		background-color: rgba(255,255,255,0.98);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
    border-bottom: 2px solid #303BFE;
		&__logo {
			position: absolute;
			top: calc(50% - 23px);
			left: 15px;
			display: inline-block;
			font-size: 0;
			width: 172px;
			height: 46px;
			background-repeat: no-repeat;
			background-position: top left;
			background-size: 172px 46px;
      @media (max-width: 991.98px) {
        left: calc(50% - 86px)
      }
      @media (max-width: 574.98px) {
				top: calc(50% - 15px);
        left: calc(50% - 55px);
				width: 110px;
        background-size: 110px;
      }
			background-image: url("../images/logo/logo.svg");
      &.blog {
        width: 238px;
        background-size: 238px 46px;
        @media (max-width: 991.98px) {
          left: calc(50% - 119px)
        }
        @media (max-width: 574.98px) {
          left: calc(50% - 87.5px);
          width: 175px;
          background-size: 175px;
        }
        background-image: url("../images/logo/logo-blog.svg");
      }
		}
		&__menu-mobile {
			display: inline-block;
      position: absolute;
      top: calc(50% - 20px);
      right: 10px;
      font-size: 0;
      cursor: pointer;
      width: 40px;
      height: 40px;
      background-size: 24px;
      background-position: center;
      background-repeat: no-repeat;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='31' height='13' viewBox='0 0 31 13'%3e%3cdefs%3e%3clinearGradient id='linear-gradient' y1='0.5' x2='1' y2='0.5' gradientUnits='objectBoundingBox'%3e%3cstop offset='0' stop-color='%23303bfe'/%3e%3cstop offset='1' stop-color='%23101627'/%3e%3c/linearGradient%3e%3c/defs%3e%3cg id='Grupo_1176' data-name='Grupo 1176' transform='translate(-0.47 0.016)'%3e%3crect id='Retângulo_66' data-name='Retângulo 66' width='31' height='2' transform='translate(0.47 10.984)' fill='url(%23linear-gradient)'/%3e%3crect id='Retângulo_67' data-name='Retângulo 67' width='31' height='2' transform='translate(0.47 -0.016)' fill='url(%23linear-gradient)'/%3e%3c/g%3e%3c/svg%3e ");
      &.active {
      	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='Grupo_2061' data-name='Grupo 2061' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='10.607' height='10.606' viewBox='0 0 10.607 10.606'%3e%3cdefs%3e%3clinearGradient id='linear-gradient' y1='0.5' x2='1' y2='0.5' gradientUnits='objectBoundingBox'%3e%3cstop offset='0' stop-color='%23303bfe'/%3e%3cstop offset='1' stop-color='%23101627'/%3e%3c/linearGradient%3e%3c/defs%3e%3crect id='Retângulo_66' data-name='Retângulo 66' width='14' height='1' transform='translate(0.707 0) rotate(45)' fill='url(%23linear-gradient)'/%3e%3crect id='Retângulo_67' data-name='Retângulo 67' width='14' height='1' transform='translate(0 9.899) rotate(-45)' fill='url(%23linear-gradient)'/%3e%3c/svg%3e ");
      }
      @media (min-width: 992px) {
        display: none;
      }
		}
    .ait-container {
      position: relative;
      height: 100%;
    }
    nav {
      position: absolute;
      display: none;
      z-index: 998;
      @media (max-width: 991.98px) {
        top: 96px;
        width: 100%;
        left: 0;
        height: calc(100vh - 96px);
        padding: 20px 30px;
        text-align: center;
        background-color: rgba(255,255,255,0.90);
        padding-top: 55px;
        &:before {
        	content: '';
        	width: 100%;
        	height: 22px;
        	background: transparent linear-gradient(90deg, #101627 0%, #161D49 0%, #3242F4 100%) 0% 0% no-repeat padding-box;
        	position: absolute;
        	bottom: 0;
        	left: 0;
        }
      }
      @media (min-width: 992px) {
        display: block;
        top: calc(50% - 12px);
        right: 15px;
      }
      a {
      	display: inline-block;
      	text-decoration: none;
      	font-size: 28px;
      	line-height: 38px;
				letter-spacing: 0px;
				color: #303BFE;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        @media (max-width: 767.98px) {
          font-size: 16px;
          line-height: 22px;
        }
	      @media (max-width: 991.98px) {
					font-weight: 600;
					display: block;
					margin-bottom: 22px;
				}
	      @media (min-width: 992px) {
					margin-left: 34px;
					color: #0E1628;
	      	font-size: 16px;
	      	line-height: 22px;
				  letter-spacing: 0.54px;
					&:hover, &.active {
						color: #303BFE;
					}
          &.active {
            font-weight: 600;
          }
	      }
      }
    }
	}
}