@font-face {
  font-family: 'magistral-medium';
  src: url('../fonts/magistral/magistral-medium.woff2') format('woff2'),
       url('../fonts/magistral/magistral-medium.woff') format('woff'),
       url('../fonts/magistral/magistral-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'magistral-bold';
  src: url('../fonts/magistral/magistral-bold.woff2') format('woff2'),
       url('../fonts/magistral/magistral-bold.woff') format('woff'),
       url('../fonts/magistral/magistral-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.ait-typography {
	&__h1 {
		color: #0E1628;
		font-size: 42px;
		line-height: 55px;
		padding-bottom: 30px;
		font-family: 'magistral-bold', sans-serif;
		@media (min-width: 992px) {
			br {
				display: none;
			}
		}
		@media (max-width: 991.98px) {
			font-size: 35px;
			line-height: 46px;
		}
		@media (max-width: 767.98px) {
			text-align: center;
			font-size: 23px;
			line-height: 30px;
			br {
				display: none;
			}
		}
	}
	&__h3 {
		color: #0E1628;
		font-size: 25px;
		line-height: 33px;
		padding-bottom: 30px;
		font-family: 'magistral-medium', sans-serif;
		@media (max-width: 991.98px) {
			font-size: 21px;
			line-height: 27px;
		}
		@media (max-width: 767.98px) {
			text-align: center;
			font-size: 19px;
			line-height: 25px;
			br {
				display: none;
			}
		}
	}
	&__h5 {
		color: #A6BCD2;
		font-size: 14px;
		line-height: 19px;
		padding-bottom: 25px;
		font-weight: 700;
		text-transform: uppercase;
		@media (max-width: 991.98px) {
			text-align: center;
			font-size: 13px;
			line-height: 18px;
		}
		@media (max-width: 767.98px) {
			text-align: center;
			font-size: 11px;
			line-height: 15px;
			br {
				display: none;
			}
		}
	}
}

p {
	&:last-child {
		margin-bottom: 0;
	}
}

.text-editor {
	font-family: 'Open Sans', sans-serif!important;
	* {
		font-family: 'Open Sans', sans-serif!important;
		font-size: inherit!important;
    line-height: inherit!important;
	}
	p {
		margin-bottom: 1rem!important;
		&:last-child {
			margin-bottom: 0!important;
		}
	}
}