.ait-tempo-leiura {
	display: inline-block;
	color: #F1F2F6;
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 12px;
	background-position: center left;
	padding-left: 16px;
	background-size: 12px;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='clock' xmlns='http://www.w3.org/2000/svg' width='11.109' height='11.109' viewBox='0 0 11.109 11.109'%3e%3cpath id='Caminho_76' data-name='Caminho 76' d='M5.555,10.415a4.86,4.86,0,1,0-4.86-4.86A4.86,4.86,0,0,0,5.555,10.415Zm5.555-4.86A5.555,5.555,0,1,1,5.555,0a5.555,5.555,0,0,1,5.555,5.555Z' fill='%23f1f2f6' fill-rule='evenodd'/%3e%3cpath id='Caminho_77' data-name='Caminho 77' d='M16.1,6.75a.347.347,0,0,1,.347.347v3.618L18.7,12a.347.347,0,0,1-.344.6l-2.43-1.389a.347.347,0,0,1-.175-.3V7.1A.347.347,0,0,1,16.1,6.75Z' transform='translate(-10.89 -4.667)' fill='%23f1f2f6' fill-rule='evenodd'/%3e%3c/svg%3e ");
}

.ait-content {
	&__blog {
		@media (min-width: 992px) {
			margin-top: -30px;
		}
		&__list {
			margin: 0 auto;
			max-width: 1020px;
			padding-bottom: 50px;
			@include clearfix();
			@media (max-width: 399.98px) {
				.ait-content__blog__card {
					width: 100%;
					margin: 10px 0;
				}
			}
		}
		&__card {
			margin: 10px 10px;
			float: left;
			width: 250px;
			border-radius: 8px;
			position: relative;
			overflow: hidden;
			@media (min-width: 400px) {
				width: 320px;
			}
			a {
				text-decoration: none;
				display: block;
			}
			&__img {
				height: 240px;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				position: relative;
				&:before {
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0; 
					left: 0;
					background-color: rgba(0,0,0,0.2);
					background: transparent linear-gradient(180deg, #00000000 -15%, #000000 115%) 0% 0% no-repeat padding-box;
				}
				&__icon {
					display: block;
					width: 22px;
					height: 22px;
					position: absolute;
					top: 15px;
					left: 20px;
					background-position: center;
					background-size: 22px;
					background-repeat: no-repeat;
					&.text {
						background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='Texto' xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3e%3ccircle id='Elipse_25' data-name='Elipse 25' cx='11' cy='11' r='11' fill='%23f1f2f6' opacity='0.34'/%3e%3cpath id='text-align-left' d='M16.523,8.9H6.7a.7.7,0,0,1,0-1.4h9.821a.7.7,0,1,1,0,1.4Zm-2.806,2.806H6.7a.7.7,0,0,1,0-1.4h7.015a.7.7,0,0,1,0,1.4Zm2.806,2.806H6.7a.7.7,0,1,1,0-1.4h9.821a.7.7,0,1,1,0,1.4Zm-2.806,2.806H6.7a.7.7,0,1,1,0-1.4h7.015a.7.7,0,0,1,0,1.4Z' transform='translate(-0.612 -1.5)' fill='%23f1f2f6' fill-rule='evenodd'/%3e%3c/svg%3e ");
					}
					&.video {
						background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='Play' xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3e%3ccircle id='Elipse_25' data-name='Elipse 25' cx='11' cy='11' r='11' fill='%23f1f2f6' opacity='0.34'/%3e%3cpath id='play-filled-alt' d='M7.189,15.039A.439.439,0,0,1,6.75,14.6V4.939a.439.439,0,0,1,.659-.38l8.343,4.83a.439.439,0,0,1,0,.76L7.409,14.98a.438.438,0,0,1-.22.059Z' transform='translate(0.452 1.23)' fill='%23f4f2f2'/%3e%3c/svg%3e ");
					}
				}
				&__categoria {
					display: inline-block;
					position: absolute;
					top: 15px;
					right: 20px;
					padding: 4px 12px;
					background-color: rgba(255,255,255,0.34);
					color: #F1F2F6;
					color: rgba(255,255,255,0.7);
					font-size: 12px;
					line-height: 14px;
					font-weight: 600;
					border-radius: 50px;
				}
			}
			&__info {
				position: absolute;
				bottom: 27px;
				left: 0;
				width: 100%;
				padding: 0 20px;
				&:after {
					content: '';
					width: 96px;
					height: 5px;
					position: absolute;
					bottom: -15px; 
					left: calc(50% - 48px);
					background-color: rgba(255,255,255,0.8);
					border-radius: 4px;
				}
				span {
					display: inline-block;
					margin-right: 18px;
					color: #F1F2F6;
					font-size: 12px;
					line-height: 14px;
					margin-bottom: 12px;
				}
				strong {
					display: block;
					text-transform: uppercase;
					color: #F1F2F6;
					font-size: 16px;
					line-height: 22px;
				}
				&__text {
					display: none;
				}
			}
		}
		&__search {
			text-align: center;
			padding: 50px 0 20px;
			input {
				border-radius: 8px;
				background: 0 0;
				width: 90%;
		    max-width: 450px;
		    height: 50px;
		    padding: 14px 20px 14px 50px;
				color: #0E1628;
				font-weight: 600;
		    background-color: #fff;
		    font-size: 14px;
		    outline: 0;
		   	border: 2px solid #a6bcd2;
		    transition: all .15s;
				background-position: center left 5px;
				background-size: 36px;
				background-repeat: no-repeat;
		    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='55' height='55' viewBox='0 0 55 55'%3e%3cg id='Grupo_953' data-name='Grupo 953' transform='translate(-24 -78)'%3e%3ccircle id='Elipse_1039' data-name='Elipse 1039' cx='27.5' cy='27.5' r='27.5' transform='translate(24 78)' fill='%23fff'/%3e%3cpath id='ios-search' d='M31.847,30.167,24.15,22.4a10.969,10.969,0,1,0-1.664,1.686L30.131,31.8a1.185,1.185,0,0,0,1.673.044,1.192,1.192,0,0,0,.043-1.679ZM15.532,24.179a8.66,8.66,0,1,1,6.125-2.536A8.61,8.61,0,0,1,15.532,24.179Z' transform='translate(33.286 87.291)' fill='%23303bfe'/%3e%3c/g%3e%3c/svg%3e ");
		    &:focus {
		    	border: 2px solid #303BFE;
		    }
			}
		}
		&__integra {
			.ait-container {
				max-width: 980px;
			}
			&__banner {
				@media (max-width: 991.98px) {
					margin: 0 -25px;
				}
				&__img {
					height: 324px;
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
					position: relative;
					@media (max-width: 767.98px) {
						height: 220px;
					}
					&:before {
						content: '';
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0; 
						left: 0;
						background-color: rgba(0,0,0,0.2);
						background: transparent linear-gradient(180deg, #00000000 -15%, #000000 115%) 0% 0% no-repeat padding-box;
					}
					.ait-content__blog__card__img__categoria {
						top: 34px;
						right: 80px;
						font-size: 16px;
						line-height: 22px;
						@media (max-width: 767.98px) {
							top: 25px;
							right: 25px;
							font-size: 12px;
							line-height: 14px;
						}
					}
				}
				&__text {
					position: absolute;
					bottom: 50px;
					left: 0;
					width: 100%;
					padding: 0 100px;
					@media (max-width: 991.98px) {
						padding: 0 125px;
					}
					@media (max-width: 767.98px) {
						padding: 0 25px;
						bottom: 25px;
					}
				}
				&__title {
					font-size: 32px;
					line-height:42px;
					font-family: 'magistral-bold', sans-serif;
					letter-spacing: 0px;
					color: #F1F2F6;
					max-width: 500px;
					@media (max-width: 991.98px) {
						font-size: 24px;
						line-height: 34px;
					}
					@media (max-width: 767.98px) {
						font-size: 19px;
						line-height: 25px;
					}
				}
				&__publicacao {
					margin-top: 21px;
					font-size: 16px;
					line-height: 22px;
					letter-spacing: 0.54px;
					color: #F1F2F6;
					@media (max-width: 767.98px) {
						font-size: 12px;
						line-height: 14px;
						margin-top: 6px;
					}
					.ait-tempo-leiura {
						font-size: 16px;
						line-height: 22px;
						margin-left: 34px;
						@media (max-width: 767.98px) {
							font-size: 12px;
							line-height: 14px;
							display: block;
							margin-top: 5px;
							margin-left: 0;
						}
					}
				}
			}
			&__autor {
				border-bottom: 1px solid #AABCD0;
				padding: 28px 100px;
				display: inline-flex;
				align-items: center;
				width: 100%;
				@media (max-width: 767.98px) {
					padding: 28px 0;
				}
				img {
					border-radius: 100%;
					margin-right: 20px;
					width: 68px;
					@media (max-width: 767.98px) {
						width: 40px;
					}
				}
				div {
					strong, span {
						display: block;
					}
					strong {
						font-size: 15px;
						line-height: 20px;
						letter-spacing: 0.51px;
						color: #303BFE;
						@media (max-width: 767.98px) {
							font-size: 13px;
							line-height: 16px;
						}
					}
					span {
						font-size: 16px;
						line-height: 22px;
						letter-spacing: 0.51px;
						color: #0E1628;
						@media (max-width: 767.98px) {
							font-size: 12px;
							line-height: 14px;
						}
					}
				}
			}
			&__text {
				padding: 28px 100px;
				border-bottom: 1px solid #AABCD0;
				@media (max-width: 767.98px) {
					padding: 28px 0;
				}
				p {
					font-size: 16px;
					line-height: 22px;
					letter-spacing: 0.54px;
					color: #0E1628;
					@media (max-width: 767.98px) {
						font-size: 12px;
						line-height: 14px;
					}
				}
			}
		}
		&__relacionados {
			padding: 40px 0;
			@media (min-width: 768px) {
				padding: 60px 0;
			}
			.ait-component__tag {
				color: #0E1628;
			}
		}
	}
}