.ait-content {
	&__contato-page {
		.ait-typography__h1 {
			max-width: 400px;
			text-align: center;
			margin: 0 auto;
			padding-top: 40px;
		}
		ul {
			margin: 0 auto;
			padding: 0 20px;
			@media (min-width: 768px) {
				max-width: 400px;
			}
			li {
				display: block;
				color: #0E1628;
				margin-bottom: 20px;
				background-color: #F1F2F6;
				padding: 14px 26px;
				border-radius: 8px;
				a {
					display: inline-block;
					font-size: 16px;
					color: #0E1628;
					text-decoration: none!important;
					strong {
						color: #303BFE;
					}
				}
				p {
					font-size: 11px;
					line-height: 15px;
					margin: 0;
				}
				span {
					display: inline-block;
					color: #0EDD97;
					font-size: 11px;
					line-height: 15px;
					font-weight: 600;
				}
				&:nth-child(1), &:nth-child(2), &:nth-child(3) {
					padding-left: 64px;
					background-repeat: no-repeat;
					background-position: center left 22px;
					background-size: 20px;
				}
				&:nth-child(1) {
					background-image: url('../images/icons/ait-svg-phone.svg');
				}
				&:nth-child(2) {
					background-image: url('../images/icons/ait-svg-mail.svg');
				}
				&:nth-child(3) {
					background-image: url('../images/icons/ait-svg-whatsapp.svg');
				}
				&:nth-child(4) {
					padding-left: 26px;
					text-align: center;
					background: transparent;
					img {
						margin-right: 20px;
						width: 28px;
					}
				}
			}
		}
		&__info {
			margin: 0 auto;
			padding: 0 20px 40px 20px;
			@media (min-width: 768px) {
				max-width: 400px;
			}
			.ait-typography__h3 {
				padding-bottom: 10px;
				text-align: left!important;
			}
			a {
				display: inline-block;
				font-size: 16px;
				color: #0E1628;
				text-decoration: none!important;
			}
		}
		.col-lg-7 {
			iframe {
				margin-bottom: -8px;
			}
			@media (max-width: 991.98px) {
				padding-right: 0;
				iframe {
					margin: 0 -10px -8px 0;
					width: calc(100% + 50px);
				}
			}
			@media (max-width: 767.98px) {
				iframe {
					margin: 0 -25px -8px;
					height: 200px;
				}
			}
		}
	}
}