.ait-content {
	&__caracteristicas {
		margin-top: -110px;
		background-position: top 110px center;
    background-repeat-y: no-repeat;
		background-image: url('../images/sobre/ait-svg-fundo-caracteristicas.svg');
		position: relative;
		padding: 46px 0;
		.ait-utilities__text-align__center {
			height: 440px;
		}
		&__img {
			margin: 0 auto;
			position: relative;
			z-index: 5;
		}
		&__container {
			max-width: 858px;
			margin: 0 auto;
		}
		&__item {
			display: inline-block;
			margin: 0 20px;
			&__shadow {
				width: 128px;
				height: 128px;
				background-color: #F1F2F6;
				box-shadow: 0px 0px 13px #3242F457;
				border-radius: 8px;
				text-align: center;
				display: flex;
				align-items: center;
				margin-bottom: 15px;
				img {
					max-height: 80px;
					margin: 0 auto;
				}
			}
			strong {
				display: block;
				font-size: 16px;
				line-height: 22px;
				text-align: center;
				font-weight: 600;
				letter-spacing: 0.54px;
				color: #303BFE;
			}
		}
	}
	&__estimulo {
		background-color: #F1F2F6;
		border-top: 2px solid #303BFE;
		.col-lg-6 {
			&:first-child {
				padding-right: 40px;
			}
		}
		&__bg {
			background-color: #303BFE;
			padding: 80px 0 0;
			min-height: 600px;
			.ait-typography__h3 {
				padding-bottom: 0;
				@media (min-width: 767px) {
					max-width: 332px;
					margin: 0 auto;
					margin-bottom: 0;
				}
			}
			&__carrosel {
				max-width: 430px;
				margin: 0 auto;
				&__item {
					background-color: #fff;
					display: flex;
					height: 250px;
					align-items: center;
					border-radius: 13px;
					padding: 35px 111px;
					margin: -12px 0;
					position: relative;
					div {
						span {
							display: inline-block;
							font-size: 38px;
							line-height: 45px;
							font-family: 'magistral-bold';
							color: #303BFE;
							transform: rotate(- 90deg);
							position: absolute;
					    left: 10px;
					    top: calc(50% - 22px);
						}
						p {
							strong {

							}
						}
					}
				}
				.slick-next, .slick-prev {
					z-index: 5;
					bottom: 0;
					height: 40px;
		    	width: 40px;
			    -webkit-transform: translate(0,0%);
			    -ms-transform: translate(0,0%);
			    transform: translate(0,0%);
					right: 0;
					left: 355px;
			    position: relative;
			    display: inline-block;
					&:before {
				    content:'';
				    display: block;
				    width: 40px;
						height: 40px;
				    opacity: 1;
				    background-position: center;
				    background-size: 40px;
					}
				}
				.slick-next {
					transform: rotate(90deg);
					top: -150px;
					&:before {
				    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3e%3cg id='Grupo_2037' data-name='Grupo 2037' transform='translate(1157 4419) rotate(180)'%3e%3cpath id='Caminho_13920' data-name='Caminho 13920' d='M20,0A20,20,0,1,1,0,20,20,20,0,0,1,20,0Z' transform='translate(1117 4379)' fill='%23303bfe'/%3e%3cpath id='Caminho_92' data-name='Caminho 92' d='M0,0,5.538,6.923,0,13.846' transform='translate(1139.769 4405.923) rotate(180)' fill='none' stroke='%23f0f0f0' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3e%3c/g%3e%3c/svg%3e ");
					}
					&.slick-disabled {
						&:before {
					    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3e%3cg id='Grupo_2037' data-name='Grupo 2037' transform='translate(1157 4419) rotate(180)'%3e%3cpath id='Caminho_13920' data-name='Caminho 13920' d='M20,0A20,20,0,1,1,0,20,20,20,0,0,1,20,0Z' transform='translate(1117 4379)' fill='%23A6BCD2'/%3e%3cpath id='Caminho_92' data-name='Caminho 92' d='M0,0,5.538,6.923,0,13.846' transform='translate(1139.769 4405.923) rotate(180)' fill='none' stroke='%23f0f0f0' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3e%3c/g%3e%3c/svg%3e ");
						}
					}
				}
				.slick-prev {
					transform: rotate(90deg);
					top: 150px;
					&:before {
				    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3e%3cg id='Grupo_2038' data-name='Grupo 2038' transform='translate(-1117 -4379)'%3e%3cpath id='Caminho_13920' data-name='Caminho 13920' d='M20,0A20,20,0,1,1,0,20,20,20,0,0,1,20,0Z' transform='translate(1117 4379)' fill='%23303bfe'/%3e%3cpath id='Caminho_92' data-name='Caminho 92' d='M0,0,5.538,6.923,0,13.846' transform='translate(1139.769 4405.923) rotate(180)' fill='none' stroke='%23f0f0f0' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3e%3c/g%3e%3c/svg%3e ");
					}
					&.slick-disabled {
						&:before {
					    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3e%3cg id='Grupo_2038' data-name='Grupo 2038' transform='translate(-1117 -4379)'%3e%3cpath id='Caminho_13920' data-name='Caminho 13920' d='M20,0A20,20,0,1,1,0,20,20,20,0,0,1,20,0Z' transform='translate(1117 4379)' fill='%23A6BCD2'/%3e%3cpath id='Caminho_92' data-name='Caminho 92' d='M0,0,5.538,6.923,0,13.846' transform='translate(1139.769 4405.923) rotate(180)' fill='none' stroke='%23f0f0f0' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3e%3c/g%3e%3c/svg%3e ");
						}
					}
				}
				.slick-slide:not(.slick-current) {
					transform: scale(.9);
					.ait-content__estimulo__bg__carrosel__item {
						opacity: .5;
						* {
							display: none;
						}
					}
				}
			}
		}
	}
	&__pensamento {
		background-size: 1280px auto;
		background-position: top center;
		background-image: url('../images/sobre/ait-svg-fundo-pensamento.svg');
		padding: 100px 0;
		&__container {
			background-color: #F1F2F6;
			background-color: rgba(241,242, 246, 0.9);
			box-shadow: 0px 0px 21px #303BFE57;
			border-radius: 13px;
			max-width: 780px;
			margin: 0 auto;
			padding: 40px 10px;
			@media (min-width: 768px) {
				padding: 70px 100px;
			}
			.ait-utilities__text-align__right {
				.ait-component__tag {
					margin-bottom: 0;
				}
			}
		}
	}
	&__metodologia {
		&__container {
			max-width: 976px;
			margin: 0 auto;
			padding: 34px 98px;
			background-color: #0e1628;
			color: #ffffff;
			position: relative;
			&:before {
				content: '';
				width: 100%;
				height: 100%;
				background-image: url('../images/home/servicos/ait-svg-fundo.svg');
				opacity: 0.1;
				position: absolute;
				top: 0;
				left: 0;
			}
			.ait-typography__h1, .ait-component__tag {
				color: #fff;
			}
		}
		&__carrossel {
			margin-top: -15px;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				width: calc(100% - 250px);
		    top: 204px;
		    left: 96px;
				border-bottom: 1px dashed #707070;
			}
			&__item {
				width: 180px;
				position: relative;
				margin: 0 10px;
				&:after {
					content: '';
					position: absolute;
					width: 13px;
					height: 13px;
					border-radius: 100%;
					top: 198px;
					left: calc(50% - 7.5px);
					background-color: #0EDD97;
				}
				&__img {
					height: 168px;
					background-color: #F4F2F2;
					box-shadow: 0px 0px 21px #00000057;
					border-radius: 13px;
					padding: 22px;
					margin-bottom: 56px;
					strong {
						display: block;
						font-family: 'magistral-medium';
						font-weight: 500;
						color: #0EDD97;
						font-size: 25px;
						line-height: 33px;
						margin-bottom: 13px;
					}
					img {
						max-width: 70px;
						max-height: 70px;
						margin: 0 auto;
					}
				}
				p {
					font-size: 16px;
					line-height: 22px;
					span {
						color: #0EDD97;
						font-weight: 700;
					}
				}
			}
			.slick-list {
		    overflow: hidden;
		  }
		}
	}
	&__plataform {
		&__item {
			width: 198px;
			display: inline-block;
			margin: 17px;
			img {
				height: 198px;
				margin-bottom: 8px;
			}
			strong {
				display: block;
				font-size: 16px;
				line-height: 22px;
				font-weight: 700;
				color: #303BFE;
				span {
					font-weight: 400;
					color: #0E1628;
				}
			}
		}
	}
	&__valores {
		.ait-container {
			padding: 180px 0 60px 0;
			background-size: 664px auto;
			background-repeat: no-repeat;
			background-position: top 52px right;
			background-image: url('../images/sobre/valores/fundo.svg');
		}
		.ait-component__tag, .ait-typography__h3 {
			margin-left: 17px;
		}
		.ait-typography__h3 {
			padding-bottom: 0;
		}
		&__item {
			width: 572px;
			height: 305px;
			display: inline-block;
			margin: 17px;
			border-radius: 13px;
			background-color: #F1F2F6;
			padding: 70px 100px;
			overflow: hidden;
			&__img {
				height: 70px;
				display: inline-flex;
				align-items: center;
				margin-bottom: 34px;
				img {
					max-width: 70px;
					max-height: 70px;
					margin-right: 20px
				}
				strong {
					display: block;
					font-size: 16px;
					line-height: 22px;
					font-weight: 700;
					color: #303BFE;
					text-transform: uppercase;
					span {
						font-weight: 400;
						color: #0E1628;
					}
				}
			}
			p {
				font-size: 16px;
				line-height: 22px;
				font-weight: 600;
				color: #0E1628;
				span {
					color: #303BFE;
				}
			}
		}
	}
	&__nosso-time {
		&__destaque {
			background-color: #A6BCD2;
			padding: 60px 0 190px;
			.ait-utilities__text-align__center, .ait-typography__h3 {
				color: #fff;
			}
		}
		&__cards {
			margin-top: -100px;
			text-align: center;
			&__item {
				width: 185px;
				height: 210px;
				background: #FFFFFF;
				box-shadow: 0px 0px 13px #00000057;
				border-radius: 13px;
				text-align: center;
				display: inline-block;
				margin: 10px;
				> img {
					margin-top: -78px;
					max-height: 170px;
					max-width: 124px;
					margin-bottom: 15px;
				}
				strong {
					display: block;
					font-family: 'magistral-medium';
  				color: #303BFE;
					margin-bottom: 5px;
					span {
						font-weight: 400;
					}
				}
				p {
					font-weight: 700;
				}
			}
			&__depoimento {
				padding: 70px 0;
				&__item {
					@include clearfix();
					width: 780px;
					height: 240px;
					display: inline-block;
					margin: 10px;
					background-color: #F1F2F6;
					box-shadow: 0px 0px 21px #303BFE57;
					padding: 50px 100px;
					border-radius: 13px;
					position: relative;
					p {
						font-weight: 600;
						text-align: left;
						font-size: 16px;
						line-height: 22px;
						margin-bottom: 20px;
						span {
							color: #303BFE;
						}
					}
					strong {
						font-weight: 700;
						font-size: 14px;
						line-height: 19px;
						display: block;
						text-align: right;
						color: #303BFE;
						text-transform: uppercase;
						position: absolute;
						bottom: 50px;
						right: 100px;
					}
				}
			}
		}
	}
}