.ait-content {
	&__caracteristicas {
		margin-top: -110px;
		background-position: top 110px center;
    background-repeat-y: no-repeat;
		background-image: url('../images/sobre/ait-svg-fundo-caracteristicas.svg');
		position: relative;
		padding: 46px 0;
		z-index: 6;
		@media (max-width: 991.98px) {
			padding: 46px 0 0;
		}	
		@media (max-width: 767.98px) {
			margin-top: -70px;
			background-image: none;
		}
		.ait-utilities__text-align__center {
			height: 440px;
			@media (max-width: 991.98px) {
				height: 360px;
			}	
			@media (max-width: 767.98px) {
				height: 30px;
			}
		}
		&__img {
			margin: 0 auto;
			position: relative;
			z-index: 5;
			@media (max-width: 991.98px) {
					max-width: 352px;
			}
			@media (max-width: 767.98px) {
				display: none;
			}
		}
		&__container {
			max-width: 858px;
			margin: 0 auto;
			text-align: center;
			@media (max-width: 991.98px) {
				max-width: 704px;
			}
		}
		&__item {
			display: inline-block;
			margin: 0 20px;
			@media (max-width: 991.98px) {
				margin: 0 14px;
			}
			@media (max-width: 767.98px) {
				margin: 0 1px;
			}
			&__shadow {
				width: 128px;
				height: 128px;
				background-color: #F1F2F6;
				box-shadow: 0px 0px 13px #3242F457;
				border-radius: 8px;
				text-align: center;
				display: flex;
				align-items: center;
				margin: 0 auto;
				margin-bottom: 15px;
				img {
					max-height: 80px;
					margin: 0 auto;
				}
				@media (max-width: 991.98px) {
					width: 108px;
					height: 108px;
					img {
						max-height: 54px;
						margin: 0 auto;
					}
				}
				@media (max-width: 767.98px) {
					width: 44px;
					height: 44px;
					img {
						max-height: 28px;
						margin: 0 auto;
					}
				}
			}
			strong {
				display: block;
				font-size: 16px;
				line-height: 22px;
				text-align: center;
				font-weight: 600;
				letter-spacing: 0.54px;
				color: #303BFE;
				@media (max-width: 991.98px) {
					font-size: 14px;
					line-height: 20px;
				}
				@media (max-width: 767.98px) {
					font-size: 12px;
					line-height: 13px;
				}
				@media (max-width: 424.98px) {
					font-size: 9px;
					line-height: 12px;
				}
			}
		}
	}
	&__estimulo {
		background-color: #F1F2F6;
		border-top: 2px solid #303BFE;
		@media (max-width: 767.98px) {
			padding: 40px 0 0;
		}
		.ait-container {
			@media (min-width: 768px) and (max-width: 992px) {
				padding-right: 0;
			}
		}
		.col-md-6 {
			&:first-child {
				padding-right: 40px;
				@media (max-width: 767.98px) {
					padding: 0 15px 40px;
				}
				.ait-typography__h1 {
						text-align: left;
				}
				img {
					display: none;
					margin-bottom:20px;
				}
				@media (min-width: 768px) and (max-width: 992px) {
					padding-left: 40px;
				}
				@media (max-width: 767.98px) {
					text-align: center;
					.ait-typography__h1 {
							text-align: center;
					}
					img {
						display: block;
						width: 174px;
					}
				}
				p {
					@media (max-width: 767.98px) {
						font-size: 13px;
						line-height: 18px;
						br {
							display: none;
						}
					}
				}
			}
		}
		&__bg {
			background-color: #303BFE;
			padding: 30px 0 0;
			@media (min-width: 992px) {
				padding: 80px 0 0;
				min-height: 600px;
			}
			@media (max-width: 767.98px) {
				margin: 0 -15px;
  			width: calc(100% + 30px);
			}
			.ait-typography__h3 {
				padding-bottom: 0;
				@media (min-width: 767px) {
					max-width: 332px;
					margin: 0 auto;
					margin-bottom: 0;
				}
				@media (max-width: 991.98px) {
					text-align: center;
					margin-bottom: -15px;
				}
				@media (max-width: 767.98px) {
					padding: 0 40px;
				}
			}
			&__carrosel {
				max-width: 430px;
				margin: 0 auto;
				@media (max-width: 991.98px) {
					max-width: 280px;
				}
				&__item {
					background-color: #fff;
					display: flex;
					height: 250px;
					align-items: center;
					border-radius: 13px;
					padding: 35px 111px;
					margin: -12px 0;
					position: relative;
					@media (max-width: 991.98px) {
						padding: 0 50px;
						width: 280px;
						height: 150px;
					}
					div {
						span {
							display: inline-block;
							font-size: 38px;
							line-height: 45px;
							font-family: 'magistral-bold';
							color: #303BFE;
							transform: rotate(- 90deg);
							position: absolute;
					    left: 10px;
					    top: calc(50% - 22px);
							@media (max-width: 991.98px) {
								font-size: 23px;
								line-height: 30px;
					    	top: calc(50% - 16px);
					    	left: 0
							}
						}
						p {
							margin: 0;
							@media (max-width: 767.98px) {
								font-size: 13px;
								line-height: 18px;
							}
						}
					}
				}
				.slick-next, .slick-prev {
					z-index: 5;
					bottom: 0;
					height: 40px;
		    	width: 40px;
			    -webkit-transform: translate(0,0%);
			    -ms-transform: translate(0,0%);
			    transform: translate(0,0%);
					right: 0;
					left: 355px;
			    position: relative;
			    display: inline-block;
					@media (max-width: 991.98px) {
						left: 215px;
					}
					@media (max-width: 767.98px) {
						left: 230px;
					}
					&:before {
				    content:'';
				    display: block;
				    width: 40px;
						height: 40px;
				    opacity: 1;
				    background-position: center;
				    background-size: 40px;
						@media (max-width: 767.98px) {
					    width: 30px;
					    background-size: 30px;
							height: 30px;
						}
					}
				}
				.slick-next {
					transform: rotate(90deg);
					top: -150px;
					@media (max-width: 991.98px) {
						top: -110px;
					}
					@media (max-width: 767.98px) {
						top: -100px;
					}
					&:before {
				    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3e%3cg id='Grupo_2037' data-name='Grupo 2037' transform='translate(1157 4419) rotate(180)'%3e%3cpath id='Caminho_13920' data-name='Caminho 13920' d='M20,0A20,20,0,1,1,0,20,20,20,0,0,1,20,0Z' transform='translate(1117 4379)' fill='%23303bfe'/%3e%3cpath id='Caminho_92' data-name='Caminho 92' d='M0,0,5.538,6.923,0,13.846' transform='translate(1139.769 4405.923) rotate(180)' fill='none' stroke='%23f0f0f0' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3e%3c/g%3e%3c/svg%3e ");
					}
					&.slick-disabled {
						&:before {
					    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3e%3cg id='Grupo_2037' data-name='Grupo 2037' transform='translate(1157 4419) rotate(180)'%3e%3cpath id='Caminho_13920' data-name='Caminho 13920' d='M20,0A20,20,0,1,1,0,20,20,20,0,0,1,20,0Z' transform='translate(1117 4379)' fill='%23A6BCD2'/%3e%3cpath id='Caminho_92' data-name='Caminho 92' d='M0,0,5.538,6.923,0,13.846' transform='translate(1139.769 4405.923) rotate(180)' fill='none' stroke='%23f0f0f0' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3e%3c/g%3e%3c/svg%3e ");
						}
					}
				}
				.slick-prev {
					transform: rotate(90deg);
					top: 150px;
					@media (max-width: 991.98px) {
						top: 110px;
					}
					&:before {
				    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3e%3cg id='Grupo_2038' data-name='Grupo 2038' transform='translate(-1117 -4379)'%3e%3cpath id='Caminho_13920' data-name='Caminho 13920' d='M20,0A20,20,0,1,1,0,20,20,20,0,0,1,20,0Z' transform='translate(1117 4379)' fill='%23303bfe'/%3e%3cpath id='Caminho_92' data-name='Caminho 92' d='M0,0,5.538,6.923,0,13.846' transform='translate(1139.769 4405.923) rotate(180)' fill='none' stroke='%23f0f0f0' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3e%3c/g%3e%3c/svg%3e ");
					}
					&.slick-disabled {
						&:before {
					    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3e%3cg id='Grupo_2038' data-name='Grupo 2038' transform='translate(-1117 -4379)'%3e%3cpath id='Caminho_13920' data-name='Caminho 13920' d='M20,0A20,20,0,1,1,0,20,20,20,0,0,1,20,0Z' transform='translate(1117 4379)' fill='%23A6BCD2'/%3e%3cpath id='Caminho_92' data-name='Caminho 92' d='M0,0,5.538,6.923,0,13.846' transform='translate(1139.769 4405.923) rotate(180)' fill='none' stroke='%23f0f0f0' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3e%3c/g%3e%3c/svg%3e ");
						}
					}
				}
				.slick-slide:not(.slick-current) {
					.ait-content__estimulo__bg__carrosel__item {
						opacity: 0;
						* {
							display: none;
						}
					}
				}
				.slick-list {
					&:before {
				    content:'';
				    display: block;
				    width: calc(100% - 14%);
				    height: 100%;
				    background: #f1f2f6;
				    opacity: .55;
				    position: absolute;
				    top: 0;
				    left: 7%;
				    border-radius: 13px;
					}
				}
			}
		}
	}
	&__pensamento {
		background-size: 1280px auto;
		background-position: top center;
		background-image: url('../images/sobre/ait-svg-fundo-pensamento.svg');
		padding: 100px 0;
		@media (max-width: 767.98px) {
			padding: 60px 0;
		}
		&__container {
			background-color: #F1F2F6;
			background-color: rgba(241,242, 246, 0.95);
			box-shadow: 0px 0px 21px #303BFE57;
			border-radius: 13px;
			max-width: 496px;
			margin: 0 auto;
			padding: 60px 20px;
			@media (min-width: 992px) {
				padding: 70px 100px;
				max-width: 780px;
			}	
			@media (min-width: 768px) {
				padding: 70px 50px;
			}		
			.ait-utilities__text-align__right {
				.ait-component__tag {
					margin-bottom: 0;
				}
			}
		}
	}
	&__metodologia {
		&__container {
			max-width: 976px;
			margin: 0 auto;
			padding: 34px 98px;
			background-color: #0e1628;
			color: #ffffff;
			position: relative;
			@media (max-width: 991.98px) {
				max-width: 676px;
			}
			@media (max-width: 767.98px) {
				padding: 44px 24px;
				margin: 0 -25px;
			}
			&:before {
				content: '';
				width: 100%;
				height: 100%;
				background-image: url('../images/home/servicos/ait-svg-fundo.svg');
				opacity: 0.1;
				position: absolute;
				top: 0;
				left: 0;
			}
			.ait-typography__h1, .ait-component__tag {
				color: #fff;
				@media (min-width: 768px) {
					br {
						display: none;
					}
				}
			}
			p {
				@media (max-width: 767.98px) {
					font-size: 13px;
					line-height: 18px;
				}
				@media (max-width: 991.98px) {
					br {
						display: none;
					}
				}
			}
		}
		&__carrossel {
			margin-top: -15px;
			position: relative;
			@media (max-width: 991.98px) {
				padding: 0 30px;
				margin: -15px -25px 0;
			}
			&:before {
				content: '';
				position: absolute;
				width: 100%;
		    top: 204px;
		    left: 0;
				border-bottom: 1px dashed #707070;
				@media (min-width: 992px) {
		    	left: 96px;
					width: calc(100% - 250px);
				}
			}
			&__item {
				width: 180px;
				position: relative;
				margin: 0 15px;
				@media (min-width: 992px) {
					margin: 0 10px;
				}
				&:after {
					content: '';
					position: absolute;
					width: 13px;
					height: 13px;
					border-radius: 100%;
					top: 198px;
					left: calc(50% - 7.5px);
					background-color: #0EDD97;
				}
				&__img {
					height: 168px;
					background-color: #F4F2F2;
					box-shadow: 0px 0px 21px #00000057;
					border-radius: 13px;
					padding: 22px;
					margin-bottom: 56px;
					strong {
						display: block;
						font-family: 'magistral-medium';
						font-weight: 500;
						color: #0EDD97;
						font-size: 25px;
						line-height: 33px;
						margin-bottom: 13px;
						@media (max-width: 767.98px) {
							font-size: 19px;
							line-height: 25px;
						}
					}
					img {
						max-width: 70px;
						max-height: 70px;
						margin: 0 auto;
					}
				}
				p {
					font-size: 16px;
					line-height: 22px;
					@media (max-width: 767.98px) {
						font-size: 13px;
						line-height: 18px;
					}
					span {
						color: #0EDD97;
						font-weight: 700;
					}
				}
			}
			.slick-next {
				&:before {
			    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3e%3cg id='Grupo_2037' data-name='Grupo 2037' transform='translate(1157 4419) rotate(180)'%3e%3cpath id='Caminho_13920' data-name='Caminho 13920' d='M20,0A20,20,0,1,1,0,20,20,20,0,0,1,20,0Z' transform='translate(1117 4379)' fill='%230EDD97'/%3e%3cpath id='Caminho_92' data-name='Caminho 92' d='M0,0,5.538,6.923,0,13.846' transform='translate(1139.769 4405.923) rotate(180)' fill='none' stroke='%23f0f0f0' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3e%3c/g%3e%3c/svg%3e ");
				}
			}
			.slick-prev {
				&:before {
			    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3e%3cg id='Grupo_2038' data-name='Grupo 2038' transform='translate(-1117 -4379)'%3e%3cpath id='Caminho_13920' data-name='Caminho 13920' d='M20,0A20,20,0,1,1,0,20,20,20,0,0,1,20,0Z' transform='translate(1117 4379)' fill='%230EDD97'/%3e%3cpath id='Caminho_92' data-name='Caminho 92' d='M0,0,5.538,6.923,0,13.846' transform='translate(1139.769 4405.923) rotate(180)' fill='none' stroke='%23f0f0f0' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3e%3c/g%3e%3c/svg%3e ");
				}
			}
			.slick-list {
		    overflow: visible;
				@media (min-width: 992px) {
		    	overflow: hidden;
				}
		  }
		}
	}
	&__plataform {
		&__item {
			display: inline-block;
			margin: 17px;
			@media (max-width: 991.98px) {
				margin: 17px 0;
				width: 32%;
			}
			@media (max-width: 767.98px) {
				margin: 17px 0;
				width: 49%;
			}
			a {
				display: block;
				text-decoration: none;
			}
			img {
				width: 139px;
				height: auto;
				margin: 0 auto;
				margin-bottom: 8px;
				border-radius: 100%;
				transition: all .15s ease-in-out;
				@media (min-width: 992px) {
					width: 198px;
				}
				@media (max-width: 767.98px) {
					width: 90px;
				}
			}
			strong {
				display: block;
				font-size: 16px;
				line-height: 22px;
				font-weight: 800;
				color: #303BFE;
				@media (max-width: 767.98px) {
					font-size: 12px;
					line-height: 14px;
				}
				span {
					font-weight: 600;
					color: #0E1628;
				}
			}
			&:hover {
				img {
					box-shadow: 0 0 8px rgba(0,0,0,.75);
				}
			}
		}
	}
	&__valores {
		.ait-container {
			padding: 90px 30px 60px 30px;
			background-size: 480px auto;
			background-repeat: no-repeat;
			background-position: top 52px right;
			background-image: url('../images/sobre/valores/fundo.svg');
			@media (min-width: 992px) {
				padding: 180px 0 60px 0;
				background-size: 664px auto;
				background-position: top 52px right;
			}
			@media (max-width: 767.98px) {
				padding: 60px 20px 20px;
				background-position: top 166px center;
			}
		}
		.ait-component__tag, .ait-typography__h3 {
			margin-left: 17px;
			@media (max-width: 767.98px) {
				margin-left: 0;
				text-align: center;
			}
		}
		.ait-typography__h3 {
			padding-bottom: 10px;
			@media (min-width: 768px) and (max-width: 992px) {
				text-align: left;
				max-width: 232px;
			}
			@media (max-width: 991.98px) {
				padding-bottom: 25px;
			}
			@media (max-width: 767.98px) {
				margin-bottom: 240px;
			}
		}
		&__item {
			width: 324px;
			height: 172px;
			display: inline-block;
			margin: 10px;
			border-radius: 13px;
			background-color: #F1F2F6;
			padding: 40px 30px;
			overflow: hidden;
			@media (min-width: 992px) {
				width: 572px;
				height: 305px;
				margin: 17px;
				padding: 70px 100px;
			}
			@media (max-width: 767.98px) {
				width: 100%;
				height: auto;
				margin: 0 0 20px;
			}
			&__img {
				height: 44px;
				display: inline-flex;
				align-items: center;
				margin-bottom: 24px;
				@media (min-width: 992px) {
					margin-bottom: 34px;
					height: 70px;
				}
				img {
					max-width: 44px;
					max-height: 44px;
					margin-right: 20px;
					@media (min-width: 992px) {
						max-width: 70px;
						max-height: 70px;
					}
				}
				strong {
					display: block;
					font-size: 13px;
					line-height: 18px;
					font-weight: 700;
					color: #303BFE;
					text-transform: uppercase;
					@media (min-width: 992px) {
						font-size: 16px;
						line-height: 22px;
					}
					span {
						font-weight: 400;
						color: #0E1628;
					}
				}
			}
			p {
				font-size: 12px;
				line-height: 14px;
				font-weight: 600;
				color: #0E1628;
				@media (min-width: 992px) {
					font-size: 16px;
					line-height: 22px;
				}
				span {
					color: #303BFE;
				}
			}
		}
	}
	&__nosso-time {
		&__destaque {
			background-color: #A6BCD2;
			padding: 60px 0 190px;
			.ait-utilities__text-align__center, .ait-typography__h3 {
				color: #fff;
			}
			p {
				@media (max-width: 991.98px) {
					br {
						display: none;
					}
				}
				@media (max-width: 767.98px) {
					font-size: 13px;
					line-height: 18px;
				}
			}
		}
		&__cards {
			margin-top: -100px;
			text-align: center;
			&__carrossel {
				> div {
					display: inline-block;
				}
			}
			&__item {
				width: 185px;
				min-height: 230px;
				background: #FFFFFF;
				box-shadow: 0px 0px 13px #00000057;
				border-radius: 13px;
				text-align: center;
				display: inline-block;
				margin: 10px;
				position: relative;
				@media (max-width: 991.98px) {
					width: 120px;
					min-height: 146px;
				}
				> img {
					display: inline-block;
					margin-top: -78px;
					max-height: 170px;
					max-width: 124px;
					margin-bottom: 15px;
					@media (max-width: 991.98px) {
						max-height: 110px;
						max-width: 80px;
					}
				}
				strong {
					display: block;
					font-family: 'magistral-medium';
  				color: #303BFE;
					margin-bottom: 5px;
					@media (max-width: 991.98px) {
						font-size: 13px;
						line-height: 17px;
					}
					span {
						font-weight: 400;
					}
				}
				p {
					font-weight: 700;
					@media (max-width: 991.98px) {
						font-size: 12px;
						line-height: 14px;
					}
				}
				a {
					display: inline-block;
					position: absolute;
					width: 100%;
					left: 0;
					img {
						margin: 0 auto;
					}
				}
			}
			&__depoimento {
				padding: 0 0 70px 0;
				@media (max-width: 767.98px) {
					padding: 20px 0 70px 0;
				}
				&__item {
					@include clearfix();
					width: 780px;
					height: 240px;
					display: inline-block;
					margin: 10px;
					background-color: #F1F2F6;
					box-shadow: 0px 0px 21px #303BFE57;
					padding: 50px 100px;
					border-radius: 13px;
					position: relative;
					@media (max-width: 991.98px) {
						width: 496px;
						padding: 40px 50px;
						br {
							display: none;
						}
					}
					@media (max-width: 767.98px) {
						width: 100%;
						height: auto;
						margin: 0;
						padding: 40px 20px;
					}
					p {
						font-weight: 600;
						text-align: left;
						font-size: 16px;
						line-height: 22px;
						margin-bottom: 20px;
						span {
							color: #303BFE;
						}
					}
					strong {
						font-weight: 700;
						font-size: 14px;
						line-height: 19px;
						display: block;
						text-align: right;
						color: #303BFE;
						text-transform: uppercase;
						position: absolute;
						bottom: 50px;
						right: 100px;
						@media (max-width: 991.98px) {
							bottom: 40px;
							right: 50px;
						}
						@media (max-width: 767.98px) {
							position: relative;
							bottom: 0;
							right: 0;
						}
					}
				}
			}
		}
	}
}