.ait-utilities__reset-button {
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  text-decoration: none !important;
  outline: none; }
  .ait-utilities__reset-button:focus {
    outline: none; }
  .ait-utilities__reset-button:focus-visible {
    outline: 5px auto -webkit-focus-ring-color; }
