.ait-utilities__reset-button {
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  text-decoration: none !important;
  outline: none; }
  .ait-utilities__reset-button:focus {
    outline: none; }
  .ait-utilities__reset-button:focus-visible {
    outline: 5px auto -webkit-focus-ring-color; }

.ait-content__arrow-it-eo-futuro {
  padding: 80px 0; }
  .ait-content__arrow-it-eo-futuro .ait-utilities__align-items-center {
    padding-left: 56px; }
    .ait-content__arrow-it-eo-futuro .ait-utilities__align-items-center p {
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 70px;
      color: #0E1628;
      max-width: 400px; }
  .ait-content__arrow-it-eo-futuro__experiencia {
    background-size: 1380px auto;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url("/dist/images/home/ait-svg-fundo.svg");
    padding: 106px 0 0; }
    .ait-content__arrow-it-eo-futuro__experiencia__item {
      display: flex;
      align-items: center;
      padding-left: 56px;
      position: relative;
      margin-bottom: 34px; }
      .ait-content__arrow-it-eo-futuro__experiencia__item::after {
        display: block;
        content: "";
        clear: both; }
      .ait-content__arrow-it-eo-futuro__experiencia__item:last-child {
        margin-bottom: 0; }
      .ait-content__arrow-it-eo-futuro__experiencia__item img {
        width: 175px;
        margin-right: 22px; }
      .ait-content__arrow-it-eo-futuro__experiencia__item strong {
        color: #0E1628;
        font-size: 16px;
        line-height: 22px;
        display: inline-block; }
        .ait-content__arrow-it-eo-futuro__experiencia__item strong span {
          font-weight: normal; }
    .ait-content__arrow-it-eo-futuro__experiencia__shadow {
      background-color: #F1F2F6;
      box-shadow: 0px 0px 34px #3242F48C;
      border-radius: 21px;
      padding: 45px 100px;
      max-width: 1178px;
      margin: 0 auto; }
      .ait-content__arrow-it-eo-futuro__experiencia__shadow .col-md-6:first-child {
        padding-top: 45px; }
    .ait-content__arrow-it-eo-futuro__experiencia__parceria {
      padding: 110px 0 80px; }
